 ### Python template
# Byte-compiled / optimized / DLL files

.idea/
__pycache__/

venv/

*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo

*.pot
# Django stuff:
*.log
db.sqlite3
# Sphinx documentation
docs/_build/
   
# IPython
profile_default/
ipython_config.py

# Environments
env/

# Media and Static directories
/media/
!/media/.gitkeep
/static/
!/static/.gitkeep

# Secrets

# bookmarks/settings.py
cert.crt
cert.key
img1.png
img2.png
img3.png
bookmarks/.env


htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
