[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.2"
django = "~=4.1.0"
pillow = "==9.2.0"
sqlparse = "==0.4.2"
install = "*"
social-auth-app-django = "*"
django-extensions = "*"
pyopenssl = "*"
requests = "*"
easy-thumbnails = "*"
django-debug-toolbar = "*"
redis = "*"
gunicorn = "*"
django-heroku = "*"
coverage = "*"
whitenoise = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.10"
